<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Окна</title>

<link rel="stylesheet" href="windows.css" type="text/css" />
<script type="text/javascript" src="mootools-1.2.js"></script>
<script type="text/javascript" src="mootools-1.2-more.js"></script>
<script type="text/javascript" src="windows.js"></script>
<script type="text/javascript">
window.addEvent('domready', function(){
	var w = new dWindow({
		width:250,
		height:180,
		minWidth:170,
		minHeight:100,
		content:'<p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam volutpat sapien ac urna. Praesent interdum tempor lectus. Ut arcu. Suspendisse lacinia. Donec nec ligula nec lectus mattis venenatis. Pellentesque id mauris a purus venenatis eleifend. Phasellus neque odio, semper in, elementum et, molestie non, diam.</p>'});
	w.open($(document.body));
});


var count = 0;
function create(){
	new dWindow({
		id:'newone_'+count,
		content:'<p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam volutpat sapien ac urna. Praesent interdum tempor lectus.</p>',
		width: 260,
		height: 260,
		minWidth: 180,
		minHeight: 160,
		left: 30,
		top: 70
	}).open($(document.body));
	count++;
	return false;
}
</script>
<style type="text/css">
.para {
	margin: 1em;
	font-size: 70%;
}
</style>
</head>
<body>
<a href="#" onclick="return create()">create new one</a>

</body>
</html>